  @font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
  }

  @font-face {
    font-family: Antic-Regular;
    src: url(../font/Antic-Regular.ttf);
  }
  input[type="text"]:disabled, select:disabled {
    background-color: #90CAF9;
    border: 1px solid #1976D2;
    font-weight: bold;
  }

  .voltar-btn {
    color: #FFF;
    width: 100%;
    height: 100%;
  }

  .sweet-alert-textarea {
    border-radius: 3px;
  }

  .obrigatorio {
    color: #ff0000;
    font-weight: bold;
  }
  .select2-selection__choice {
    color: #000;
    /*font-size: 108%;*/
  }
  .validacao-text {
    color: #FF0000;
    font-weight: bold;
  }
  /* centered columns styles */
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

  .texto-selecao {
    font-size:83%;
  }

  #rodape {
    margin-bottom: -500px;
  }

  .flash-message {
    color: #FFF;
    font-size: 130%;
  }

  .navbar-externo {
    margin-bottom: 2%;
  }
  .login{
    padding-top: 7%;
    background: none;
  }
  .logo {
    font-family: Pacifico;
    font-size: 170%;
    margin: 0;
    color: #00BFFF;
  }

  .logo-black {
    color: #000;
    font-family: Pacifico;
  }

  .menu-text {
    font-size: 120%;
    padding-right: 2%;
  }
