  @font-face {
    font-family: Pacifico;
    src: url(../../../font/Pacifico.ttf);
  }

  @font-face {
    font-family: Antic-Regular;
    src: url(../../../font/Antic-Regular.ttf);
  }

  *{
    margin: 0;
    padding: auto;
  }

  .login-html, .body-login {
    background:repeating-linear-gradient(-45deg,#00BFFF,rgba(38,185,154,1) 7px, #FFF 5px, #FFF 10px);
    background-position: fixed;
    /*valor cover deixa a imagem maior ou igual ao seu box*/
    background-size: cover;
    background-repeat: no-repeat;
    /*transition: all 1s;*/
  }

  .body-solicitacao {
    background:repeating-linear-gradient(-45deg,#00BFFF,rgba(38,185,154,0.5) 7px, #FFF 5px, #FFF 10px);
    background:repeating-linear-gradient(45deg,#00BFFF,rgba(38,185,154,0.5) 10px, #FFF 2px, #FFF 10px);
    background-position: fixed;
  }

  .body-login {
    overflow-x: hidden;
    overflow-Y: hidden;
  }

  input[type="text"]:disabled, 
  input[type="time"]:disabled, select:disabled {
    background-color: #90CAF9;
    border: 1px solid #1976D2;
    font-weight: bold;
  }

  input[type="text"]:disabled,  select:disabled {
    background-color: #90CAF9;
    border: 1px solid #1976D2;
    font-weight: bold;
  }

  .disabled-input {
    background-color: #90CAF9;
    border: 1px solid #1976D2;
    font-weight: bold;
  }

  .voltar-btn {
    color: #FFF;
    width: 100%;
    height: 100%;
  }

  .sweet-alert-textarea {
    border-radius: 3px;
  }

  .obrigatorio {
    color: #ff0000;
    font-weight: bold;
  }
  .select2-selection__choice {
    color: #000;
    /*font-size: 108%;*/
  }
  .validacao-text {
    color: #FF0000;
    font-weight: bold;
  }
  /* centered columns styles */
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

  .texto-selecao {
    font-size:83%;
  }

  #rodape {
    margin-bottom: -500px;
  }

  .flash-message {
    color: #FFF;
    font-size: 130%;
  }

  .navbar-externo {
    margin-bottom: 2%;
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    border-radius: 0px;
  }

  .btn-blue {
     box-shadow: 2px 2px 3px rgba(0,0,0,1); 
     text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
     font-size: 120%;
  }

  .logo {
    height: 10px;
    width: 10px;
    font-family: Pacifico;
    font-size: 170%;
    margin: 0;
    color: #00BFFF;
  }
  
  .logo-black {
    color: #000;
    font-family: Pacifico;
  }

  .menu-text {
    font-size: 120%;
    padding-right: 2%;
  }

  /*login desck*/
  .login-casa {
    margin-top: 5%;
    transition: all 1s;
  }

  .login-logo-font {
    font-family: Pacifico;
    font-size: 190%;
    margin: 0;
    color: #00BFFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
  }

  .login-heading {
    background-color: rgba(245, 245, 245, 0.5) !important;
  }

  .login {
    background-color: rgba(255,255,255,0.5);
    transition: all 1.2s;
  }

  .login:hover {
    background-color: rgba(255,255,255,1);
  }

  .logo-img {
    height: 50px;
    width: 50px;
    padding: 2%;
  }

  .logo-img-externo {
    height: 60px;
    width: 60px;
    padding: 2%;
  }

  .login-logo-img {
    display: inline-block; 
    margin-left: 4%;
    height: 80px;
    width: 80px;
  }

  .login input {
      background-color: rgba(255,255,255,0.5);
      /*color: #FFF;*/
  }

  .login:hover input {
    background-color: rgba(255,255,255,0.5);
    color: #000;
  }

  .login input::-webkit-input-placeholder {
    color: #A9A9A9;
  }

  .login button {
      background-color: rgba(51,122,183,0.5);
      box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  }

  .login:hover button{
      background-color: rgba(51,122,183,1);
      box-shadow: 2px 2px 3px rgba(0,0,0,1);
  }

  .login input:focus button{ 
    background-color: rgba(51,122,183,1);

  }
  .login a {
     background-color: rgba(38,185,154,0.5);
     box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  }

  .login:hover a {
     background-color: rgba(38,185,154,1);
     box-shadow: 2px 2px 3px rgba(0,0,0,1);
  }
  /**Imagens da tela de login*/
  .img {
      /*background-position: fixed;*/
      /*valor cover deixa a imagem maior ou igual ao seu box*/
      size: cover !important;
      background-size: auto 100%;
      filter: brightness(0.9);
      -webkit-filter: brightness(0.9);
      -moz-filter: brightness(0.9);
      -o-filter: brightness(0.9);
      -ms-filter: brightness(0.9);
  }

  .fadein img {
      background-position: fixed;
      position:absolute;
      width: 100%;
      height: auto;
      left:0;
      top:0;
  }
  /*login mobile*/
  @media screen and (max-width: 800px) {
    
    .login-html, .body-login {
      background:repeating-linear-gradient(-45deg,#00BFFF,rgba(38,185,154,0.5) 7px, #FFF 5px, #FFF 10px);
      background:repeating-linear-gradient(45deg,#00BFFF,rgba(38,185,154,0.5) 10px, #FFF 2px, #FFF 10px);
    }

    .login-casa {
      padding: 10%;
      max-width: 100% !important;
    }

    .login {
      background-color: rgba(255,255,255,1);
      box-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    }

    .login input {
      background-color: rgba(255,255,255,0.5);
      color: #000;
    }

    .login button{
      background-color: rgba(51,122,183,1);
    }

    .login a {
     background-color: rgba(38,185,154,1);
    }

    .login input::-webkit-input-placeholder {
      color: #A9A9A9;
    }

    .img { 
       display: none !important;
     }
  }

  @media screen and (max-width: 720px) { 

    .login-casa {
      padding: 0%;
      margin-top: 5%;
    }

  }

  /**Full Calendar*/

    .fc th,
    .fc-unthemed .fc-popover .fc-header {
    background:#1ABB9C;
    color: #fff;
  }

  .fc-title{

    font-size: 1.2em;
  }

  .fc th a{
    color: #fff !important;
  }

  .fc-unthemed td.fc-today {
    background: #E0FFFF;
    color: #fff !important;
    border-color: #ddd;
  }

.fc button {
  background:#1ABB9C;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 2.1em;
  padding: 1 .6em;
  font-size: 1.1em;
  white-space: nowrap;
  cursor: pointer;
}


